@media (max-width: 768px) {
    
    .logo{
        display: flex;
        align-items: center;
        padding-block: 0.5em;
        & h1{
            font-size: 1em;
        }
        & img{
            width: 50px;
            height: 50px;
        }
    }
    
    
    
    .menu-list {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #26331F;
        width: 100%;
        z-index: 1000;
    }
    .menu-list.active { /* Corrigido para ativar o menu */
        display: flex;
        margin-top: 1.4em;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .menu-list li {
        border-bottom: 1px solid #fff;
        margin: 10px 0;
        width: 100svw;
        font-size: 21px;
        letter-spacing: 3px;
        
    }
    .menu-list li a {
        display: block;
        margin-bottom: 5px;
        text-decoration: none;
        color: #7EE34F;
        /* font-size: 18px; */
    }
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 1001;
    }
    .hamburger-menu span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
    }
    
    .sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em 0;

        & .textos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            & .filosofia{
                font-size: 1.5em;
                margin-bottom: 1em;
            }
            & .compromisso{
                font-size: 1.2em;
                margin-bottom: 1em;
            }
        }
    }

    .produtos{
        & .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 2em;
            padding: 2em 0;

            & .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 80svw;
                
                border-radius: 10px;
                padding: 1em;
                text-align: center;

                & img{
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                    margin-bottom: 1em;
                }
            }
        }
    }

    .provas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em 0;

        & .videos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 2em;
            
            & .video{
                margin-block: 0.3em;

            }

            & img{
                width: 100%;
                height: auto;
                border-radius: 10px;
                margin-bottom: 1em;
            }
        }
        
        
    }

    footer{
        overflow-y: hidden;
        & p {
            overflow-y: hidden;
        }
        & .contatos{

            & ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1em;
                color: white;

            }
        }
    }
}
